snippet t2
	| ${2:<++>} | <++> |
	|-|-|
	| <++> | <++> |${1}

snippet t3
	| ${2:<++>} | <++> | <++> |
	|-|-|-|
	| <++> | <++> | <++> |${1}

snippet t4
	| ${2:<++>} | <++> | <++> | <++> |
	|-|-|-|-|
	| <++> | <++> | <++> | <++> |${1}
	

snippet t5
	| ${2:<++>} | <++> | <++> | <++> | <++> |
	|-|-|-|-|-|
	| <++> | <++> | <++> | <++> | <++> |${1}
